* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-weight: 500;
  display: flex;
  flex-flow: column;
  color: #1d1d1c;
}

.green {
  background: #2ecc71 !important;
  color: white;
}

.red {
  background: #e74c3c !important;
  color: white;
}

.max-opacity {
  opacity: 1;
}

.min-opacity {
  opacity: 0;
}

.no-show {
  display: none;
}

.container {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column;
}

.login-box {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  z-index: 9;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 2rem;
  display: flex;
  flex-flow: column;
  transition: opacity 250ms ease-in-out;
}

.instructions-box {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -10%);
  z-index: 9;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 2rem;
  display: flex;
  flex-flow: column;
  transition: opacity 250ms ease-in-out;
}

.login-box > form {
  display: flex;
  flex-flow: column;
}

.welcome {
  color: #006039;
  white-space: nowrap;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.login-box-instructions {
  margin-bottom: 0.5rem;
}

.login-box > form > input {
  -webkit-appearance: none;
  font-size: 1rem;
  padding: 0.25rem;
  border-style: none;
  background: none;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}
.login-box > form > input:focus {
  border: 1px solid #a37d2c;
}
.login-box > form > input::placeholder {
  color: #999;
}

#userEmail {
  margin-bottom: 0.5rem;
}

.introduction-message {
  margin-bottom: 1.25rem;
  color: grey;
}

/* this removes the spinners */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.submit-button {
  display: none;
}

.expense-form {
  display: flex;
  flex-flow: column;
  margin-top: 0;
  border-radius: 10px;
  margin: 0.5rem 0.5rem 0 0.5rem;
}

.display {
  padding: 0.5rem;
  background-color: black;
  height: 5rem;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.display-blue {
  transition: background-color 250ms ease;
  background-color: #0d64ad;
}

input::placeholder {
  transition: color 250ms ease-in-out;
}

.display-blue input::placeholder {
  color: white;
}

.display-black {
  transition: background-color 250ms ease;
  background-color: black;
}

::placeholder {
  color: grey;
}

.amount-display {
  width: auto;
  flex: auto;
  font-size: 2rem;
  border-style: none;
  background: none;
  border-radius: 0;
  text-align: right;
  color: #dfdfdf;
}

.notes-display {
  color: #dfdfdf;
  font-size: 1rem;
  background: none;
  border-style: none;
  border-radius: 0;
  text-align: left;
}

.green-text {
  text-shadow: 0 0 0 lime;
}

.red-text {
  text-shadow: 0 0 0 red;
}

.dimmed {
  transition: opacity 250ms ease;
  opacity: 0.25;
}

.categories-icons {
  height: 3.5rem;
  display: flex;
  font-size: 1.75rem;
  justify-content: space-evenly;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.dark-label {
  transition: background-color 250ms ease;
  text-align: center;
  background-color: #dfdfdf;
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.light-label {
  transition: background-color 250ms ease;
  background-color: #c5c5c5;
}

input[type=radio], .uncategorized {
  display: none;
}

.summary {
  color: grey;
  margin: 0.5rem;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.summary > div {
  padding: 0.5rem 0;
  flex: 1;
  background-color: #dfdfdf;
  border-radius: 10px;
}

.info-title {
  text-align: left;
  padding-left: 0.75rem;
}

.info-amount {
  text-align: right;
  padding-right: 0.75rem;
  font-size: 1;
}

.summary > div[class=expenses] {
  margin: 0 0.5rem;
}

.info-title {
  font-weight: bold;
}

.income, .expenses, .balance {
  display: flex;
  flex-flow: column;
}

a {
  text-decoration: none;
}

.transactions {
  margin: 0 0.5rem 0.5rem 0.5rem;
  background-color: #dfdfdf;
  border-radius: 10px;
  padding: 0.5rem;
  transition: opacity 250ms ease-in-out;
}

.month-day {
  font-size: 1.25rem;
  font-weight: bold;
  color: grey;
  margin-bottom: 0.5rem;
}

.info-row {
  display: flex;
  color: grey;
  margin-bottom: 0.5rem;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.info-row * {
  flex: 1;
}

.list-box > div {
  height: 1.75rem;
}

.expense-title {
  display: flex;
  align-items: center;
}

.expense {
  display: flex;
  align-items: center;
}
.expense * {
  flex: 1;
  overflow: hidden;
}

.expense-amount, .expense-notes {
  position: relative;
  overflow-x: scroll;
}

.expense-notes {
  white-space: nowrap;
}

.expense-amount::after, .expense-notes::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.edit-icon, .delete-icon {
  border: none;
  text-align: center;
  background: none;
}

.expense-icons {
  display: flex;
  justify-content: space-evenly;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
.footer .log-out-button {
  color: grey;
  font-weight: 600;
  background-color: #dfdfdf;
  border: none;
  align-self: center;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1rem;
  margin: 0.5rem;
}
.footer .copyright {
  color: grey;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.info-row {
  border-bottom: 1px solid rgba(128, 128, 128, 0.25);
  padding: 0 0 0.5rem 0.5rem;
}

.list-box > :nth-child(even) {
  background: #d4d4d3;
}

.transactions {
  padding: 0;
}

.list-box {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.month-day {
  padding: 0.5rem 0 0 0.5rem;
}

.expense {
  padding: 0 0.5rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: lightgrey;
  }

  .display {
    background-color: #1d1d1c;
  }
  .dark-label {
    background-color: #2e2e2d;
  }

  .light-label {
    background-color: grey;
  }

  .summary > div, .transactions {
    background: #2e2e2d;
  }

  .footer {
    background: none;
  }

  .log-out-button {
    background-color: #2e2e2d !important;
  }

  .info-row {
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
    padding: 0 0 0.5rem 0.5rem;
  }

  .list-box > :nth-child(even) {
    background: #232322;
  }

  .transactions {
    padding: 0;
  }

  .list-box {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }

  .month-day {
    padding: 0.5rem 0 0 0.5rem;
  }

  .expense {
    padding: 0 0.5rem;
  }

  .green {
    background-color: #2e2e2d !important;
    color: #2ecc71;
  }

  .red {
    background-color: #2e2e2d !important;
    color: #e74c3c;
  }
}
@media (orientation: portrait) {
  .expense-icons, .expense-notes, .expense-notes-info, .info-row :last-child {
    display: none;
  }

  .info-row {
    padding: 0 0 0.25rem 0.5rem;
  }
}

/*# sourceMappingURL=ui.css.map */
